/* $site-background-color: #222222;
$container-color: #2a2a2a;
$unselected-color: #333333;
$selected-color: #444444;
$border-color: #333; */

$bg: #1a1b1c;
$bg-accent: #333;
$navbar: #242526;
$navbar-accent: #484d4a;
$navbar-size: 48px;
// Disable select on text
@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//Global styles
* {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

//Media queries
html {
    font-size: 8px;
    @media screen and (min-width: 700px) {
        font-size: 10px;
    }
    @media screen and (min-width: 1300px) {
        font-size: 12px;
    }
    @media screen and (min-width: 1600px) {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $navbar-size;
    background-color: $navbar;
    button {
        height: calc(#{$navbar-size} * 0.8);
        width: calc(#{$navbar-size} * 0.8);
        margin: 0 calc(#{$navbar-size} * 0.1) 0 calc(#{$navbar-size} * 0.1);
        border-radius: calc((#{$navbar-size} * 0.8) / 2);
        line-height: calc(#{$navbar-size} * 0.85);
        font-size: #{$navbar-size * 0.4};
        text-align: center;
        border: 0;
        padding: 0;
        background-color: $navbar-accent;
        transition: background-color 200ms;
        &:hover {
            cursor: pointer;
            background-color: #515253;
        }
        &:active {
            background-color: #5a5b5c;
        }
        >i {
            transition: transform 400ms ease-in-out;
            transform-origin: 50% 45%;
        }
        &#menu {
            order: 3;
            &:hover>i {
                //transform: rotate(180deg);
            }
        }
        &#settings {
            order: 1;
            &:hover>i {
                //transform: rotate(360deg);
            }
        }
    }
    #logo {
        order: 2;
        transition: filter 100ms, transform 100ms;
        a {
            text-decoration: none;
            font-size: calc(#{$navbar-size} * 0.5);
            >i {
                font-weight: 300;
                margin-right: calc(#{$navbar-size} * 0.08);
                color: #3f51b5;
            }
            b {
                color: #f44336;
            }
        }
    }
}

//Container for map grid and temperature/humidity buttons
.container {
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
}

.epa-traktor {
    display: flex;
}

.map {
    display: grid;
    width: 50vw;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 24% auto;
    background-color: $bg-accent;
    @media screen and (max-width: 1300px) {
        width: 60vw;
    }
    @media screen and (max-width: 1000px) {
        width: 70vw;
    }
    @media screen and (max-width: 700px) {
        width: 80vw;
    }
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-accent;
    text-align: center;
    border: 2px solid #222;
    z-index: 0;
    transition: transform 200ms ease-in-out, filter 200ms ease-in-out, background-color 200ms ease-in-out;
    text-decoration: none;
    &:not(.hallway) {
        height: calc(70vmin * 0.38);
    }
    >div {
        // Div som innehåller texten inuti rummen
        >div {
            //Temperatur & luftfuktighet-text
            transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
            max-height: 0;
            opacity: 0;
        }
        >h2 {
            //Rum namn
            font-size: 1.5rem;
        }
        >.temp>span::after {
            //Lägg till *C efter grader
            content: "°C";
        }
    }
    &:hover {
        >div>div {
            max-height: 500px;
            opacity: 1;
        }
    }
}

.active {
    &:hover {
        cursor: pointer;
        transform: scale(1.07);
        z-index: 2;
    }
    &:active {
        filter: brightness(1.15);
    }
}

.inactive {
    @include no-select();
    &:hover {
        cursor: default;
    }
}

.hallway {
    height: calc(70vmin * 0.24);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 1;
    }
    &:active {
        filter: brightness(1.15);
    }
}

.thermometer-container {
    position: relative;
    display: flex;
    left: 2rem;
    margin-top: 25vh;
}

.thermometer {
    width: 3rem;
    height: 40vh;
    border-radius: 1.5rem;
    border: 3px solid #1a1a1a;
    overflow: hidden;
    &:hover #thermo-marker,
    &:hover+#temperature-text {
        opacity: 1;
    }
    &:hover {
        cursor: pointer;
    }
}

#thermo-marker {
    opacity: 0;
    transition: opacity 100ms;
    position: relative;
    background-color: white;
    width: 100%;
    height: 2px;
}

#temperature-text {
    @include no-select();
    opacity: 0;
    transition: opacity 100ms;
    position: relative;
    left: 0.5rem;
    color: white;
    &.celsius::after {
        content: "°C";
    }
    &.fahrenheit::after {
        content: "°F";
    }
    &.humidity::after {
        content: ' g vatten/m³'
    }
}

.temp-humid-buttons {
    margin-top: 5px;
    display: flex;
    >div {
        height: 3rem;
        width: 3rem;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        line-height: 3rem;
        margin-right: 0.5rem;
        background-color: $bg-accent;
        text-align: center;
        transition: transform 200ms, filter 200ms, background-color 200ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1.2);
            filter: brightness(1.2);
        }
    }
    >#temp-button:hover {
        background-color: rgb(221, 44, 0);
    }
    >#humid-button:hover {
        background-color: rgb(0, 84, 194);
    }
}