$site-background-color: #222222;
$container-color: #2a2a2a;
$unselected-color: #333333;
$selected-color: #444444;
$border-color: #333;
@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html * {
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

* {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: $site-background-color;
}

.map {
    @include no-select();
    display: grid;
    width: 50vw;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 24% auto;
    background-color: $container-color;
}

.container {
    display: flex;
    flex-direction: column;
}

.temp-humid-buttons {
    margin-top: 5px;
    display: flex;
    transition: all 200ms ease;
    >div {
        height: 3rem;
        width: 3rem;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        line-height: 3rem;
        margin-right: 0.5rem;
        background-color: $unselected-color;
        text-align: center;
        transition: all 200ms ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1.2);
            filter: brightness(1.2);
        }
    }
    >#temp-button:hover {
        background-color: rgb(221, 44, 0);
    }
    >#humid-button:hover {
        background-color: rgb(0, 84, 194);
    }
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $border-color;
    text-align: center;
    border: 2px solid #2a2a2a;
    z-index: 0;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    &:not(.hallway) {
        height: calc(70vmin * 0.38);
    }
    >div>div {
        transition: all 250ms ease-in-out;
        max-height: 0;
        opacity: 0;
    }
    &:hover {
        >div>div {
            max-height: 500px;
            opacity: 1;
        }
    }
}

.active {
    >div {
        transition: all 200ms ease;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 1;
    }
    &:active {
        filter: brightness(1.15);
    }
}

.inactive:hover {
    cursor: default;
}

.hallway {
    height: calc(70vmin * 0.24);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 1;
    }
}

.hallway:active {
    filter: brightness(1.15);
}