$site-background-color: #222222;
$container-color: #2a2a2a;
$unselected-color: #333333;
$selected-color: #444444;
$border-color: #333;
$navbar-height: 4rem;
@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html * {
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 8px;
    @media screen and (min-width: 700px) {
        font-size: 10px;
    }
    @media screen and (min-width: 1300px) {
        font-size: 12px;
    }
    @media screen and (min-width: 1600px) {
        font-size: 16px;
    }
}

* {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: $site-background-color;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: $navbar-height;
    background-color: $unselected-color;
    >ul {
        margin: 0;
        padding: 0;
        list-style: none;
        >li {
            >a {
                font-size: 1.5rem;
                text-decoration: none;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                background-color: #ddd;
            }
        }
    }
}

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.map {
    @include no-select();
    display: grid;
    width: 50vw;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 24% auto;
    background-color: $container-color;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $border-color;
    text-align: center;
    border: 2px solid #2a2a2a;
    z-index: 0;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    &:not(.hallway) {
        height: calc(70vmin * 0.38);
    }
    >div>div {
        transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
        max-height: 0;
        opacity: 0;
    }
    >div>h2 {
        font-size: 1.5rem;
    }
    &:hover {
        >div>div {
            max-height: 500px;
            opacity: 1;
        }
    }
}

.active {
    >div {
        transition: all 200ms ease;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 1;
    }
    &:active {
        filter: brightness(1.15);
    }
}

.inactive:hover {
    cursor: default;
}

.hallway {
    height: calc(70vmin * 0.24);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 1;
    }
    &:active {
        filter: brightness(1.15);
    }
}

.temp-humid-buttons {
    margin-top: 5px;
    display: flex;
    transition: all 200ms ease;
    >div {
        height: 3rem;
        width: 3rem;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        line-height: 3rem;
        margin-right: 0.5rem;
        background-color: $unselected-color;
        text-align: center;
        transition: all 200ms ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1.2);
            filter: brightness(1.2);
        }
    }
    >#temp-button:hover {
        background-color: rgb(221, 44, 0);
    }
    >#humid-button:hover {
        background-color: rgb(0, 84, 194);
    }
}